<main>
    <section class="tarefas">
        {{#each tarefas}}
            <div class="tarefa">
            <form action="">

            {{#if this.completa}}

                <div class="completa">
                    <input type="checkbox" id="tarefa-{{this.id}}" checked>
                <label for="tarefa-{{this.id}}">{{this.descricao}}</label> 
                </div>
            {{else}}
                <div class="">
                    <input type="checkbox" id="tarefa-{{this.id}}" onchange="completarTarefa({{this.id}})">
                <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
                
                </div>
                {{/if}}
                <button>
                    <img src="/imagens/Combined Shape 2.png" alt="X">
                </button> 
            </form>
        </div>
        {{/each}}
        <div class="informacoes">
            <p>5 Tarefas ativas</p>
            <div class="botao">
                <a href="" class="active">Todas</a>
                <a href="">Ativas</a>
                <a href="">Comletas</a>
            </div>
            <a href="">Limar Tarefas</a>
        </div>
    </section>

    <section class="botoes">
        <a href="" class="active">Todas</a>
        <a href="">Ativas</a>
        <a href="">Comletas</a>
    </section>
</main>